In [37]:
import pandas as pd

df = pd.read_csv('customer_shopping_behavior.csv')

In [38]:
df.head(10)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Standard,Yes,Yes,14,Venmo,Weekly
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,3.2,Yes,Free Shipping,Yes,Yes,19,Credit Card,Weekly
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,2.6,Yes,Express,Yes,Yes,8,Venmo,Annually
9,10,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,4.8,Yes,2-Day Shipping,Yes,Yes,4,Cash,Quarterly

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [40]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [41]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [42]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()) )

In [43]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [44]:
df.columns= df.columns.str.lower()
df.columns= df.columns.str.replace(' ','_')
df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [45]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [46]:
# creatin a column age_group
bins = [0, 13, 18, 30, 50, 65, float('inf')]
labels = ['Child', 'Teen', 'Adult', 'Middle-aged', 'Old age', 'Senior']

df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels, right=False)

In [47]:
df[['age','age_group']].head(10)

   age    age_group
0   55      Old age
1   19        Adult
2   50      Old age
3   21        Adult
4   45  Middle-aged
5   46  Middle-aged
6   63      Old age
7   27        Adult
8   26        Adult
9   57      Old age

In [48]:
#create column purchase_frequency_days

frequency_mapping = {
    'Fortnightly' : 14,
    'Weekly' : 7,
    'Monthly' :30,
    'Quarterly':90,
    'Bi-Weekly' :14,
    'Annually' : 365,
    'every 3 months' : 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [49]:
df[['purchase_frequency_days', 'frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                     14.0            Fortnightly
1                     14.0            Fortnightly
2                      7.0                 Weekly
3                      7.0                 Weekly
4                    365.0               Annually
5                      7.0                 Weekly
6                     90.0              Quarterly
7                      7.0                 Weekly
8                    365.0               Annually
9                     90.0              Quarterly

In [50]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [51]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [52]:
df = df.drop('promo_code_used', axis=1)

In [53]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

Connecting Python script to PostgreSQL

In [54]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl.metadata (5.1 kB)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.44-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.0-cp312-cp312-win_amd64.whl.metadata (4.2 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Downloading typing_extensions-4.15.0-py3-none-any.whl.metadata (3.3 kB)
Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB 217.9 kB/s eta 0:00:13
   ---------------------------------------- 0.0/2.7 MB 217.9 kB/s eta 0:00:13
    --------------------------------------- 0.1/2.7 MB 273.8 kB/s eta 0:00:10
    --------------------------------------- 0.1/2.7 MB 273.8 kB/s eta 0:00:10
   - -------------------------------------- 0.1/2.7 MB 291.5 kB/s eta 0:00:09
   - -------------------------------------- 0.1/2.7 MB 291.5 kB/s eta 0:00:09
   - -------------------------------------- 0.1/2.7 MB 288.1 kB/s eta 0:00:09
   - -------------------------------------- 0.1/2.7 MB 288.1 kB/s eta 0:00:09
   - -------------------------------------- 0.1/2.7 MB 288.1 kB/s eta 0:00:09
   - -------------------------------------- 0.1/2.7 MB 288.1 kB/s eta 0:00:09
   - -------------------------------------- 0.1/2.7 MB 288.1 kB/s eta 0:00:09
   - -------------------------------------- 0.1/2.7 MB 288.1 kB/s eta 0:00:09
   - -------------------------------------- 0.1/2.7 MB 288.1 kB/s eta 0:00:09
   -- ------------------------------------- 0.2/2.7 MB 274.3 kB/s eta 0:00:10
   -- ------------------------------------- 0.2/2.7 MB 274.3 kB/s eta 0:00:10
   -- ------------------------------------- 0.2/2.7 MB 274.3 kB/s eta 0:00:10
   --- ------------------------------------ 0.2/2.7 MB 275.3 kB/s eta 0:00:10
   --- ------------------------------------ 0.2/2.7 MB 275.3 kB/s eta 0:00:10
   ---- ----------------------------------- 0.3/2.7 MB 304.3 kB/s eta 0:00:09
   ---- ----------------------------------- 0.3/2.7 MB 304.3 kB/s eta 0:00:09
   ---- ----------------------------------- 0.3/2.7 MB 304.3 kB/s eta 0:00:09
   ---- ----------------------------------- 0.3/2.7 MB 306.5 kB/s eta 0:00:08
   ---- ----------------------------------- 0.3/2.7 MB 306.5 kB/s eta 0:00:08
   ---- ----------------------------------- 0.3/2.7 MB 308.5 kB/s eta 0:00:08
   ---- ----------------------------------- 0.3/2.7 MB 308.5 kB/s eta 0:00:08
   ----- ---------------------------------- 0.4/2.7 MB 301.2 kB/s eta 0:00:08
   ----- ---------------------------------- 0.4/2.7 MB 301.2 kB/s eta 0:00:08
   ----- ---------------------------------- 0.4/2.7 MB 301.2 kB/s eta 0:00:08
   ----- ---------------------------------- 0.4/2.7 MB 299.3 kB/s eta 0:00:08
   ----- ---------------------------------- 0.4/2.7 MB 299.3 kB/s eta 0:00:08
   ------ --------------------------------- 0.4/2.7 MB 301.4 kB/s eta 0:00:08
   ------ --------------------------------- 0.4/2.7 MB 301.4 kB/s eta 0:00:08
   ------ --------------------------------- 0.4/2.7 MB 296.0 kB/s eta 0:00:08
   ------ --------------------------------- 0.4/2.7 MB 296.0 kB/s eta 0:00:08
   ------ --------------------------------- 0.4/2.7 MB 296.0 kB/s eta 0:00:08
   ------ --------------------------------- 0.4/2.7 MB 296.0 kB/s eta 0:00:08
   ------ --------------------------------- 0.4/2.7 MB 296.0 kB/s eta 0:00:08
   ------- -------------------------------- 0.5/2.7 MB 294.0 kB/s eta 0:00:08
   ------- -------------------------------- 0.5/2.7 MB 294.0 kB/s eta 0:00:08
   ------- -------------------------------- 0.5/2.7 MB 294.0 kB/s eta 0:00:08
   ------- -------------------------------- 0.5/2.7 MB 294.0 kB/s eta 0:00:08
   ------- -------------------------------- 0.5/2.7 MB 283.2 kB/s eta 0:00:08
   ------- -------------------------------- 0.5/2.7 MB 283.2 kB/s eta 0:00:08
   ------- -------------------------------- 0.5/2.7 MB 283.2 kB/s eta 0:00:08
   ------- -------------------------------- 0.5/2.7 MB 283.2 kB/s eta 0:00:08
   ------- -------------------------------- 0.5/2.7 MB 283.2 kB/s eta 0:00:08
   ------- -------------------------------- 0.5/2.7 MB 283.2 kB/s eta 0:00:08
   ------- -------------------------------- 0.5/2.7 MB 283.2 kB/s eta 0:00:08
   -------- ------------------------------- 0.6/2.7 MB 279.5 kB/s eta 0:00:08
   -------- ------------------------------- 0.6/2.7 MB 279.5 kB/s eta 0:00:08
   --------- ------------------------------ 0.6/2.7 MB 279.6 kB/s eta 0:00:08
   --------- ------------------------------ 0.6/2.7 MB 279.6 kB/s eta 0:00:08
   --------- ------------------------------ 0.6/2.7 MB 279.6 kB/s eta 0:00:08
   --------- ------------------------------ 0.7/2.7 MB 281.5 kB/s eta 0:00:08
   --------- ------------------------------ 0.7/2.7 MB 281.5 kB/s eta 0:00:08
   ---------- ----------------------------- 0.7/2.7 MB 279.0 kB/s eta 0:00:08
   ---------- ----------------------------- 0.7/2.7 MB 279.0 kB/s eta 0:00:08
   ---------- ----------------------------- 0.7/2.7 MB 280.8 kB/s eta 0:00:08
   ---------- ----------------------------- 0.7/2.7 MB 287.3 kB/s eta 0:00:07
   ---------- ----------------------------- 0.7/2.7 MB 287.3 kB/s eta 0:00:07
   ----------- ---------------------------- 0.8/2.7 MB 288.7 kB/s eta 0:00:07
   ----------- ---------------------------- 0.8/2.7 MB 288.7 kB/s eta 0:00:07
   ----------- ---------------------------- 0.8/2.7 MB 290.0 kB/s eta 0:00:07
   ----------- ---------------------------- 0.8/2.7 MB 290.0 kB/s eta 0:00:07
   ------------ --------------------------- 0.8/2.7 MB 296.9 kB/s eta 0:00:07
   ------------ --------------------------- 0.8/2.7 MB 296.9 kB/s eta 0:00:07
   ------------ --------------------------- 0.9/2.7 MB 292.5 kB/s eta 0:00:07
   ------------ --------------------------- 0.9/2.7 MB 297.9 kB/s eta 0:00:07
   ------------ --------------------------- 0.9/2.7 MB 297.9 kB/s eta 0:00:07
   ------------- -------------------------- 0.9/2.7 MB 298.8 kB/s eta 0:00:07
   ------------- -------------------------- 0.9/2.7 MB 298.8 kB/s eta 0:00:07
   -------------- ------------------------- 1.0/2.7 MB 306.3 kB/s eta 0:00:06
   -------------- ------------------------- 1.0/2.7 MB 309.7 kB/s eta 0:00:06
   -------------- ------------------------- 1.0/2.7 MB 318.0 kB/s eta 0:00:06
   ---------------- ----------------------- 1.1/2.7 MB 338.8 kB/s eta 0:00:05
   ------------------ --------------------- 1.2/2.7 MB 374.5 kB/s eta 0:00:04
   ------------------- -------------------- 1.3/2.7 MB 400.0 kB/s eta 0:00:04
   --------------------- ------------------ 1.5/2.7 MB 429.8 kB/s eta 0:00:03
   ----------------------- ---------------- 1.6/2.7 MB 457.0 kB/s eta 0:00:03
   ------------------------- -------------- 1.7/2.7 MB 489.3 kB/s eta 0:00:03
   --------------------------- ------------ 1.8/2.7 MB 520.8 kB/s eta 0:00:02
   ---------------------------- ----------- 2.0/2.7 MB 551.4 kB/s eta 0:00:02
   ------------------------------ --------- 2.1/2.7 MB 578.4 kB/s eta 0:00:02
   -------------------------------- ------- 2.2/2.7 MB 607.3 kB/s eta 0:00:01
   --------------------------------- ------ 2.3/2.7 MB 624.7 kB/s eta 0:00:01
   ----------------------------------- ---- 2.4/2.7 MB 647.1 kB/s eta 0:00:01
   ------------------------------------- -- 2.5/2.7 MB 669.0 kB/s eta 0:00:01
   -------------------------------------- - 2.6/2.7 MB 685.2 kB/s eta 0:00:01
   ---------------------------------------  2.7/2.7 MB 706.2 kB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 700.7 kB/s eta 0:00:00
Downloading sqlalchemy-2.0.44-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   -- ------------------------------------- 0.1/2.1 MB 2.2 MB/s eta 0:00:01
   --- ------------------------------------ 0.2/2.1 MB 2.5 MB/s eta 0:00:01
   ------ --------------------------------- 0.3/2.1 MB 2.9 MB/s eta 0:00:01
   ------- -------------------------------- 0.4/2.1 MB 2.9 MB/s eta 0:00:01
   --------- ------------------------------ 0.5/2.1 MB 2.8 MB/s eta 0:00:01
   ---------- ----------------------------- 0.6/2.1 MB 2.8 MB/s eta 0:00:01
   ---------- ----------------------------- 0.6/2.1 MB 2.8 MB/s eta 0:00:01
   ----------- ---------------------------- 0.6/2.1 MB 2.0 MB/s eta 0:00:01
   ----------- ---------------------------- 0.6/2.1 MB 2.1 MB/s eta 0:00:01
   ----------- ---------------------------- 0.6/2.1 MB 2.1 MB/s eta 0:00:01
   -------------- ------------------------- 0.8/2.1 MB 1.9 MB/s eta 0:00:01
   -------------- ------------------------- 0.8/2.1 MB 1.9 MB/s eta 0:00:01
   -------------- ------------------------- 0.8/2.1 MB 1.9 MB/s eta 0:00:01
   -------------- ------------------------- 0.8/2.1 MB 1.9 MB/s eta 0:00:01
   -------------- ------------------------- 0.8/2.1 MB 1.9 MB/s eta 0:00:01
   ---------------- ----------------------- 0.9/2.1 MB 1.5 MB/s eta 0:00:01
   ---------------- ----------------------- 0.9/2.1 MB 1.5 MB/s eta 0:00:01
   ---------------- ----------------------- 0.9/2.1 MB 1.5 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 1.5 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 1.5 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 1.4 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 1.4 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 1.4 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 1.2 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 1.2 MB/s eta 0:00:01
   --------------------- ------------------ 1.2/2.1 MB 1.2 MB/s eta 0:00:01
   --------------------- ------------------ 1.2/2.1 MB 1.2 MB/s eta 0:00:01
   ---------------------- ----------------- 1.2/2.1 MB 1.1 MB/s eta 0:00:01
   ----------------------- ---------------- 1.3/2.1 MB 1.2 MB/s eta 0:00:01
   ----------------------- ---------------- 1.3/2.1 MB 1.2 MB/s eta 0:00:01
   ----------------------- ---------------- 1.3/2.1 MB 1.2 MB/s eta 0:00:01
   ----------------------- ---------------- 1.3/2.1 MB 1.2 MB/s eta 0:00:01
   ----------------------- ---------------- 1.3/2.1 MB 1.2 MB/s eta 0:00:01
   ----------------------- ---------------- 1.3/2.1 MB 982.5 kB/s eta 0:00:01
   ----------------------- ---------------- 1.3/2.1 MB 982.5 kB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 1.1 MB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 1.1 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 1.1 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 1.1 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 1.1 MB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.1 MB 1.1 MB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.1 MB 1.1 MB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.1 MB 1.1 MB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.1 MB 1.1 MB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.1 MB 1.1 MB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.1 MB 1.1 MB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.1 MB 1.1 MB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.1 MB 1.1 MB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.1 MB 1.1 MB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.1 MB 1.1 MB/s eta 0:00:01
   ------------------------------------- -- 2.0/2.1 MB 1.0 MB/s eta 0:00:01
   ------------------------------------- -- 2.0/2.1 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 886.9 kB/s eta 0:00:00
Downloading greenlet-3.3.0-cp312-cp312-win_amd64.whl (301 kB)
   ---------------------------------------- 0.0/302.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/302.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/302.0 kB ? eta -:--:--
   ---- ----------------------------------- 30.7/302.0 kB ? eta -:--:--
   ---- ----------------------------------- 30.7/302.0 kB ? eta -:--:--
   ----- --------------------------------- 41.0/302.0 kB 330.3 kB/s eta 0:00:01
   ------- ------------------------------- 61.4/302.0 kB 469.7 kB/s eta 0:00:01
   ------- ------------------------------- 61.4/302.0 kB 469.7 kB/s eta 0:00:01
   ---------- ---------------------------- 81.9/302.0 kB 353.1 kB/s eta 0:00:01
   ---------- ---------------------------- 81.9/302.0 kB 353.1 kB/s eta 0:00:01
   ----------- --------------------------- 92.2/302.0 kB 276.8 kB/s eta 0:00:01
   -------------- ----------------------- 112.6/302.0 kB 345.9 kB/s eta 0:00:01
   -------------- ----------------------- 112.6/302.0 kB 345.9 kB/s eta 0:00:01
   ------------------ ------------------- 143.4/302.0 kB 341.3 kB/s eta 0:00:01
   ------------------ ------------------- 143.4/302.0 kB 341.3 kB/s eta 0:00:01
   --------------------- ---------------- 174.1/302.0 kB 338.5 kB/s eta 0:00:01
   --------------------- ---------------- 174.1/302.0 kB 338.5 kB/s eta 0:00:01
   --------------------- ---------------- 174.1/302.0 kB 338.5 kB/s eta 0:00:01
   --------------------- ---------------- 174.1/302.0 kB 338.5 kB/s eta 0:00:01
   --------------------- ---------------- 174.1/302.0 kB 338.5 kB/s eta 0:00:01
   --------------------- ---------------- 174.1/302.0 kB 338.5 kB/s eta 0:00:01
   --------------------- ---------------- 174.1/302.0 kB 338.5 kB/s eta 0:00:01
   --------------------- ---------------- 174.1/302.0 kB 338.5 kB/s eta 0:00:01
   ------------------------------------ - 286.7/302.0 kB 354.0 kB/s eta 0:00:01
   ------------------------------------ - 286.7/302.0 kB 354.0 kB/s eta 0:00:01
   ------------------------------------ - 286.7/302.0 kB 354.0 kB/s eta 0:00:01
   -------------------------------------- 302.0/302.0 kB 333.4 kB/s eta 0:00:00
Downloading typing_extensions-4.15.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.6 kB ? eta -:--:--
   ---------------------------------------- 0.0/44.6 kB ? eta -:--:--
   ---------------------------------------- 0.0/44.6 kB ? eta -:--:--
   --------------------------- ------------ 30.7/44.6 kB 1.3 MB/s eta 0:00:01
   --------------------------- ------------ 30.7/44.6 kB 1.3 MB/s eta 0:00:01
   --------------------------- ------------ 30.7/44.6 kB 1.3 MB/s eta 0:00:01
   --------------------------- ------------ 30.7/44.6 kB 1.3 MB/s eta 0:00:01
   --------------------------- ------------ 30.7/44.6 kB 1.3 MB/s eta 0:00:01
   --------------------------- ------------ 30.7/44.6 kB 1.3 MB/s eta 0:00:01
   --------------------------- ------------ 30.7/44.6 kB 1.3 MB/s eta 0:00:01
   ------------------------------------ --- 41.0/44.6 kB 103.4 kB/s eta 0:00:01
   ---------------------------------------- 44.6/44.6 kB 109.8 kB/s eta 0:00:00
Installing collected packages: typing-extensions, psycopg2-binary, greenlet, sqlalchemy
Successfully installed greenlet-3.3.0 psycopg2-binary-2.9.11 sqlalchemy-2.0.44 typing-extensions-4.15.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [56]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

# Step 1: Connect to PostgreSQL
# Replace placeholders with your actual details
username = "postgres"      # default user
password = quote_plus("saiteja@29") # the password you set during installation
host = "localhost"         # if running locally
port = "5432"              # default PostgreSQL port
database = "customer_data_sql_analysis"    # the database you created in pgAdmin

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

# Step 2: Load DataFrame into PostgreSQL
table_name = "customer"   # choose any table name
df.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

Data successfully loaded into table 'customer' in database 'customer_data_sql_analysis'.